@font-face {
  font-family: workSansBlack;
  src: url("../fonts/WorkSans/WorkSans-Black.ttf");
}
@font-face {
  font-family: workSansBold;
  src: url("../fonts/WorkSans/WorkSans-Bold.ttf");
}
@font-face {
  font-family: workSansExtraBold;
  src: url("../fonts/WorkSans/WorkSans-ExtraBold.ttf");
}
@font-face {
  font-family: workSansExtraLight;
  src: url("../fonts/WorkSans/WorkSans-ExtraLight.ttf");
}
@font-face {
  font-family: workSansLight;
  src: url("../fonts/WorkSans/WorkSans-Light.ttf");
}
@font-face {
  font-family: workSansMedium;
  src: url("../fonts/WorkSans/WorkSans-Medium.ttf");
}
@font-face {
  font-family: workSansRegular;
  src: url("../fonts/WorkSans/WorkSans-Regular.ttf");
}
@font-face {
  font-family: workSansSemiBold;
  src: url("../fonts/WorkSans/WorkSans-SemiBold.ttf");
}
@font-face {
  font-family: workSansThin;
  src: url("../fonts/WorkSans/WorkSans-Thin.ttf");
}
@font-face {
  font-family: brownStdBold;
  src: url("../fonts/BrownStd-Bold.otf");
}
.vh-50 {
  height: 50vh;
}

.vh-110 {
  height: 110vh !important;
}

.bg-darker-gray {
  background: #1b1e23;
}

* {
  color: white;
}

body {
  background: #292c31;
}

section.row {
  height: 100vh;
}

.title {
  color: #616771;
}

.w-67 {
  width: 67%;
}

.news {
  background-image: url("../img/main-bg.png");
  background-size: cover;
}
.news .btn-news {
  border-color: #3882b1;
  color: #3882b1;
  border-radius: 10px;
}
.news .btn-news:hover {
  background: none;
  cursor: pointer;
}
.news .ml-28 {
  margin-left: 28px;
}

.we-do .legend-wrapper {
  top: -50px;
  left: 25%;
  height: 100px;
  background: #1b1e23;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}
.we-do .legend-wrapper p {
  margin: 0;
}
.we-do .legend-wrapper p span {
  color: #3882b1;
}

.contact .form-row input, .contact .form-row button, .contact .form-row textarea {
  background-color: #1b1e23;
  border-color: #484848;
  color: white;
  border-radius: 5px;
}
.contact .form-row input::placeholder, .contact .form-row button::placeholder, .contact .form-row textarea::placeholder {
  color: white;
}
.contact .form-row input {
  height: 50px;
  width: 49%;
}
.contact .form-row button {
  padding: 5px 30px;
  border-radius: 15px;
}
.contact .form-row textarea {
  padding-left: 10px;
}
.contact .form-row.first {
  margin-top: 43px;
}
.contact .address {
  text-decoration: underline;
}

.slider #customers-carousel img {
  transform: scale(0.7);
}

.social-media-wrapper {
  margin-right: 130px;
}

.wrapper-section-active {
  margin-left: 50px;
  top: calc(50vh - 120px);
  z-index: 9999;
}
.wrapper-section-active .bullet {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #3d4044;
  margin-bottom: 50px;
  cursor: pointer;
}
.wrapper-section-active .bullet.active {
  background-color: #3882b1;
}

@media (max-width: 768px) {
  .navbar {
    padding: 10px 20px !important;
  }
  .navbar .navbar-toggler {
    border: none;
  }
  .navbar .navbar-toggler .navbar-toggler-icon {
    background-image: url("../img/svg/three-bars.svg");
  }
  .navbar .navbar-brand {
    flex: inherit;
    margin-right: -10px;
  }

  .news p {
    margin-left: 0px !important;
    text-align: justify;
    width: 95%;
  }

  .we-do .legend-wrapper {
    width: 100% !important;
    left: 0;
    padding: 0px 30px;
    position: initial !important;
  }
  .we-do .col-12 .title, .we-do .col-12 .text-justify {
    width: 90% !important;
  }

  .contact {
    margin-bottom: 50px;
  }
  .contact form input {
    width: 100% !important;
    margin-bottom: 20px;
  }
  .contact form .second {
    margin-top: 0px !important;
  }
  .contact .contact-data-wrapper {
    text-align: center;
  }
  .contact img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
  }
  .contact p.second-phone {
    margin-left: 0px !important;
    padding-left: 0px !important;
  }
}

/*# sourceMappingURL=main.css.map */
